# Global Fishing Watch API
GFW_API_KEY=

# 공공데이터포털 - 선박제원정보
VESSEL_SPEC_API_KEY=

# 공공데이터포털 - 연안 AIS 통계
COASTAL_AIS_API_KEY=

# 공공데이터포털 - TAC 소진현황
TAC_STATUS_API_KEY=

# 해양기상 API
MARINE_WEATHER_API_KEY=
